@using Microsoft.EntityFrameworkCore
@using PetHealthHistory.Data

@if (!string.IsNullOrWhiteSpace(_error))
{
    <div class="text-danger">@_error</div>
}
<div class="row py-2">
    <div class="col-2 col-form-label">
        <label for="Name">Name:</label>
    </div>
    <div class="col-4">
        <input id="Name" name="Name" type="text" class="form-control" @bind="_name" required />
    </div>
</div>
<div class="row py-2">
    <div class="col-2 col-form-label text-nowrap">
        <label for="Kind">Species/Breed:</label>
    </div>
    <div class="col-4">
        <input id="Kind" name="Kind" type="text" class="form-control" @bind="_kind" />
    </div>
</div>
<div class="row py-2">
    <div class="col-2 col-form-label">
        <label for="Name">Type:</label>
    </div>
    <div class="col-4">
        <select @bind="_type" class="form-select">
            @foreach (var petType in Enum.GetValues(typeof(PetType)))
            {
                <option value="@petType">@petType.ToString()</option>
            }
        </select>
    </div>
</div>
<div class="row py-2">
    <div class="col-2 col-form-label">
        <label for="BirthDate">Birth date:</label>
    </div>
    <div class="col-4">
        <input id="BirthDate" name="BirthDate" type="date" class="form-control" format max="@DateTime.Today.ToString("yyyy-MM-dd")" @bind="_birthDate" required />
    </div>
</div>

<div class="d-flex gap-2">
    <button class="btn btn-outline-secondary" @onclick='() => NavigationManager.NavigateTo("/")'>Cancel</button>
    <button class="btn btn-primary" @onclick="Save">Add</button>
</div>


@code {
    private string? _name;
    private string? _kind;
    private PetType _type = PetType.Dog;
    private DateOnly? _birthDate;
    private string? _error;

    [Inject] private IDbContextFactory<PetHealthHistoryContext> DbFactory { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }

    private async Task Save()
    {
        // walidacja formularza
        _error = null;
        if (string.IsNullOrWhiteSpace(_name))
        {
            _error = "Missing name";
        }

        if (_birthDate == null)
        {
            if (_error == null)
            {
                _error = "Missing birth date";
            }
            else
            {
                _error += " and birth date";
            }
        }
        
        // wyświetl błąd jeżeli któreś pole było nieprawidłowe
        if (_error != null)
        {
            return;
        }

        try
        {
            await using var context = DbFactory.CreateDbContext();
            
            // stwórz obiekt odpowiedniej klasy na podstawie wartości wybranej przez użytkownika
            var pet = GetNewPetFromType();
            context.Pets.Add(pet);

            await context.SaveChangesAsync();
        }
        catch (Exception ex)
        {
            _error = ex.Message;
            return;
        }

        NavigationManager.NavigateTo("/");
    }

    private Pet GetNewPetFromType()
    {
        Pet pet = _type switch
        {
            PetType.Cat => new Cat(_name!, _birthDate!.Value, _kind),
            PetType.Dog => new Dog(_name!, _birthDate!.Value, _kind),
            _ => throw new ArgumentOutOfRangeException($"Invalid pet type: {_type.ToString()}")
        };
        
        return pet;
    }
}